*{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.paragraph4{
    color: rgb(196, 173, 173);
    font-size: xx-large;
}

 ul{
    list-style: none;
 }
 li{
    color: yellowgreen;
    display: inline;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
 }
input[type="submit"]{
    background-color: black;
    color: white;
    border-color: blue;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
.container{
    border: 1px solid black;
    padding: 10px;
    margin: 50px;

}
.pic{
    float: left;
}
.clearpara{
    clear: left;
}
.butt{
    background-color: white;
    color: black;
    border-color: greenyellow;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
.butt:hover{
    background-color: purple;
    color: yellow;
    cursor: pointer;
    transition: 0.5s ease;
     border-radius: 20px;
}
@media screen AND (max-width:600px){
    body{
        background-color: black;
    }    
}
@media screen AND (max-width:300px){
    body{
        background-color: blue;
    }    
}
.container1{
    width: 500px;
    position: relative;
}
.pic1{
    width: 100%;
}
.overlay{
    position: absolute;
    top: 50px;
    left: 200px;
    background-color: red;
}
.container1:hover .overlay{
    opacity: 1;
    transition: 0.5s ease;
}
